body{
	background-color:black;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.container{
	justify-content: center;
}

#hero{
	position:relative;
}

#hero video{
	height:100vh;
	width:100%;
	background-position: absolute;
	z-index:10;
	object-fit:cover;
	background-repeat:repeat;
	overflow-x:hidden;
}

#hero .content{
	background: rgba(0,0,0,0.5);
	height:100%;
	width:100%;
	z-index:20;
	position:absolute;
	top:0;
	left:0;
}

p{
	color: #B0E7FF;
	font-weight: bold;
}